[Desktop Entry]
Version=0.0
Name=MNIST-VAE
Comment=Tool
Exec=mnist-vae
Icon=${SNAP}/meta/gui/mnist-vae.png
Terminal=false
Type=Application
Categories=Utility;Application;
